.todoList{
    padding-top: 35vh;
    display: flex;
    flex: 70%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    .headers{
        word-spacing: 7rem;
        padding-right: 35px;
        padding-left: 10px;
    }
}